%div.row
  %div.col-lg-3.columns
    = form_tag '/login' do
      = label_tag :email
      = text_field_tag :email, nil, :autofocus => true
      = label_tag :password
      = password_field_tag :password
      = submit_tag 'Login', :class => 'button round'
  %div.col-lg-9.columns