%div.row
	%div.col-lg-3
		= form_for @user, :remote => true do |f|
			= f.label :name
			= f.text_field :name, :autofocus => true
			= f.label :username
			= f.text_field :username
			= f.label :email
			= f.text_field :email
			= f.label :email
			= f.text_field :email
			= f.label :password
			= f.password_field :password
			= f.label :password_confirmation
			= f.password_field :password_confirmation
			= f.submit nil, :class => 'button radius'
%div.col-lg-9