%table#users
  - @users.each do |user|
    %tr
      %td
        - if @auth.is_admin?
          %span.label.alert= user.username
          %span= user.email
        - else
          %span.label.success= user.username
      %td= image_tag(user.avatar)
      %td= link_to('Delete', user, :method => :delete, :confirm => 'Really?', :class => 'btn btn-danger btn-sm') if user != @auth