<div id="mover">
  <%- @questions.each_with_index do |question, index| %>
  <div id="questions">
    <h4>This <%=@exam.topic %> Quiz </h4>
    <h1>Question <%= index + 1 %> - <%= question.question.capitalize %></h1>
    <h2>Pick an Answer:</h2>
    <table style="text-align: center; margin: 0 auto;">
      <tr>
        <%- question.answers.each do |answer| %>
          <td>
            <%= form_for @attempt, :remote => true do |f| %>
              <%= f.hidden_field :answer_id, :value => answer.id %>
              <%= f.hidden_field :user_id, :value => @auth.id %>

                <%= f.submit answer.description, :type => :submit, :class => "move_exam whitey" %>
                <% end %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>
  <% end %>

<div id="exam_results">
  <div class="row">
       <div class="col-lg-12">
          <h4>Results</h4>
          <h4>This <%=@exam.topic %> Quiz </h4>
             <h3><span class="label label-success"> You scored 80%</span></h3>
     <!--        <div class="btn btn-success"><!% @questions.each do |question| %>
            <!% question.answers.each do |answer| %> -->

            <!-- <h7><b><!%= answer.correct? == true %> </b></h7> -->
               <!% end %>
                  <!% end %>

                </div>


        </div>

<div class="row">
<% @questions.each do |question| %>
    <div class="col-lg-3">
    <h6>Question <%= @question_number %> - <%= question.question.capitalize %></h6>

        <% question.answers.each do |answer| %>
        <span class="label label-warning"><%= answer.description %></span>
<b><%= answer.correct? %> </b>

            <% if !answer.correct? %>
                <h6><% answer.correct %></h6>
            <% end %>

    <!--           <!% if answer.id == attempt.answer_id && answer.correct? %>
              <!% answer.attempt %>
            <!% end %> -->

        <% end %>
           </div>
        <% end %>




  </div>













</div>

  </div>
  <script>

  $(document).ready(function () {
  var loading = function(e) {
    e.preventDefault();
    e.stopPropagation();
    e.target.classList.add('loading');
    e.target.setAttribute('disabled','disabled');
    setTimeout(function(){
      e.target.classList.remove('loading');
      e.target.removeAttribute('disabled');
    },1500);
  };

  var btns = document.querySelectorAll('button');
  for (var i=btns.length-1;i>=0;i--) {
    btns[i].addEventListener('click',loading);
  }

  $('.move_exam').on('click', function() {
    $(this).closest('#questions').hide();

    });



  });
</script>


