<div id="mover">
  <%- @questions.each do |question| %>
  <div id="questions">
    <h4>This <%=@exam.topic %> Quiz </h4>
    <h1>Question "<%= @question_number %>" - <%= question.question %></h1>
    <h2>Pick an Answer:</h2>
    <table style="text-align: center; margin: 0 auto;">
      <tr>
        <%- question.answers.each do |answer| %>
          <td>
            <!%= form_for @attempt, :remote =><!--  true  do |f| %> -->

<button data-label="<%= answer.description %>" class="move_exam" id = "button">this is answer</button>
     <!%#=f.submit raw( "<%= answer.description %><!-- ", class => 'move_exam whitey' ) %> -->
            <!@%# end %>
          </td>

        <% end %>
      </tr>
    </table>
  </div>
  <% end %>
</div>


  <script>
  $(document).ready(function () {
  var loading = function(e) {
    e.preventDefault();
    e.stopPropagation();
    e.target.classList.add('loading');
    e.target.setAttribute('disabled','disabled');
    setTimeout(function(){
      e.target.classList.remove('loading');
      e.target.removeAttribute('disabled');
    },1500);
  };

  var btns = document.querySelectorAll('button');
  for (var i=btns.length-1;i>=0;i--) {
    btns[i].addEventListener('click',loading);
  }


  $('.move_exam').on('click', function() {
    $(this).closest('#questions').hide();
    });

</script>